* {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

#app {
    font-size: 2em;
}

.entry {
    margin: 10px;
    background-color: #121212;
}

.entry * {
    background-color: #121212;
}

.entry code {
    border-color: #ffffff;
    border-style: solid;
    border-radius: 5px;
    margin-left: 50px;
    padding: 2px;
}

.entry code:hover {
    border-color: #00ff00;
    cursor: pointer;
}
